*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.animation{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
}

.logo{
    position: absolute;
    top: 8.5%;
    left: 5%;
    z-index: 1;
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    
    animation: fadeIn ease-out 2.5s;
    -webkit-animation: fadeIn ease-out 2.5s;
    -moz-animation: fadeIn ease-out 2.5s;
    -o-animation: fadeIn ease-out 2.5s;
    -ms-animation: fadeIn ease-out 2.5s;
}

.header-text{
    position: absolute;
    top: 12%;
    left: 5%;
    z-index: 1;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;

    animation: fadeIn ease-out 2.5s;
    -webkit-animation: fadeIn ease-out 2.5s;
    -moz-animation: fadeIn ease-out 2.5s;
    -o-animation: fadeIn ease-out 2.5s;
    -ms-animation: fadeIn ease-out 2.5s;
}

.header-text2{
    position: absolute;
    top: 10.25%;
    right: 5%;
    z-index: 1;
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: 500;

    animation: fadeIn ease-out 2.5s;
    -webkit-animation: fadeIn ease-out 2.5s;
    -moz-animation: fadeIn ease-out 2.5s;
    -o-animation: fadeIn ease-out 2.5s;
    -ms-animation: fadeIn ease-out 2.5s;
}

.big-text{
    position: absolute; 
    bottom: 10%;
    left: 5%;
    z-index: 1;
    font-size: 160px;
    color: white;
    font-weight: 600;
    line-height: 170px;

    animation: fadeIn ease-out 2.5s;
    -webkit-animation: fadeIn ease-out 2.5s;
    -moz-animation: fadeIn ease-out 2.5s;
    -o-animation: fadeIn ease-out 2.5s;
    -ms-animation: fadeIn ease-out 2.5s;
}

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
  
  
  .mouse_scroll {
      display: block;
      margin: 0 auto;
      width: 24px;
      height: 100px;
      position: absolute;
      z-index: 1;
      right: 5%;
      bottom: 10%;

      animation: fadeIn ease-out 2.5s;
      -webkit-animation: fadeIn ease-out 2.5s;
      -moz-animation: fadeIn ease-out 2.5s;
      -o-animation: fadeIn ease-out 2.5s;
      -ms-animation: fadeIn ease-out 2.5s;
  }
  
  
  .m_scroll_arrows
  {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
     
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
  }
  
  
  .unu
  {
    margin-top: 1px;
  }
  
  .unu, .doi, .trei
  {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
      animation: mouse-scroll 1s infinite;
    
  }
  
  .unu
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    
    animation-direction: alternate;
    animation-delay: alternate;
  }
  
  .doi
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .2s;
    animation-direction: alternate;
    
    margin-top: -6px;
  }
  
  .trei
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .3s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  
  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
  }
  
  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  
  .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
  }
  
  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }